RewriteEngine On
#RewriteBase /programmer122013/paulon
RewriteBase /v1

# Remove PHPSESSID
RewriteCond %{QUERY_STRING} PHPSESSID=.*$
RewriteRule .* %{REQUEST_URI}? [R=301,L]

RewriteCond %{REQUEST_METHOD} !(HEAD|GET|POST|OPTIONS|TRACE)
RewriteRule .* - [F]

# Redirect always to www.
#RewriteCond %{HTTP_HOST} !^www\.
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

# Protect application and system files from being viewed
RewriteRule ^(app|public|vendor)/(.*)$ - [F,L]

# Protect following files from accessing via web browser
RewriteRule ^(.gitignore|.gitattributes|.ftpquota|.travis.yml|composer.(.*)|LICENSE|(.*).md) - [F,L]

RewriteRule ^(.*)$ public/$1 [L]